html,
body {
    margin: 0;
    padding: 0;
}

header {
    background: #000;
    color: #fff;
    padding: 16px;
}

header .nav-item {
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}

header .nav-item:hover {
    background-color: #222;
}

main {
    width: 75%;
    margin: auto;
    padding: 16px;
}

main form {
    display: flex;
    flex-direction: column;
}

main form .todo-list {
    display: flex;
}

main form .todo-list .details,
main form .todo-list .elements {
    flex: 1;
    padding: 8px;
}

main form .todo-list .details {
    display: flex;
    flex-direction: column;
}

main form .todo-list .elements {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main form .todo-list .elements .header {
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main form .todo-list .elements .header #add-element {
    width: fit-content;
}

main form .todo-list .elements .element {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main form .actions {
    padding: 16px;
    text-align: center;
}