html,
body {
    margin: 0;
    padding: 0;
}

header {
    background: #000;
    color: #fff;
    padding: 16px;
}

header .nav-item {
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}

header .nav-item.active {
    background-color: #222;
}

header .nav-item:not(.active):hover {
    background-color: #0f0f0f;
}

main {
    width: 75%;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

main .todo-list {
    flex: 1;
    max-width: 100px;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .todo-list .name {
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

main .todo-list .elements {
    padding: 8px;   
}

main .todo-list .actions {
    padding: 16px 8px;
}

main .todo-list .actions .action {
    padding: 8px;
    border-radius: 8px;
    background-color: #3b1de4;
    color: #fff;
    text-decoration: none;
}