html
    head
        title='All todo-lists'
        link(rel='stylesheet' type='text/css' href='/public/css/todo-lists.css')
    body
        header
            a.nav-item.active(href='/todolists')='All todo-lists'
            a.nav-item(href='/todolist')='New todo-lists'
        main
            if todolists.length === 0
                div.no-data='No todo-list found'
            each todolist in todolists
                div.todo-list
                    div.name=todolist.name
                    div.elements=todolist.elements.length + ' éléments'
                    div.actions
                        a.action(href=`/todolist/${todolist.id}`)='Update'
